NET "node[0]" LOC = "D14";
NET "node[1]" LOC = "G14";
NET "node[2]" LOC = "F14";
NET "node[3]" LOC = "E13";
NET "segment[0]" LOC = "E14";
NET "segment[1]" LOC = "G13";
NET "segment[2]" LOC = "N15";
NET "segment[3]" LOC = "P15";
NET "segment[4]" LOC = "R16";
NET "segment[5]" LOC = "F13";
NET "segment[6]" LOC = "N16";
NET "segment[7]" LOC = "P16";
NET "stp" LOC="M13";
NET "rst" LOC="M14";
NET "clk" LOC="T9";
NET "exec" LOC="P11";
NET "initype[0]" LOC="K12";
NET "initype[1]" LOC="P14";
NET "initype[2]" LOC="L12";
NET "initype[3]" LOC="N14";
NET "initype[4]" LOC="P13";
NET "initype[5]" LOC="N12";
NET "dptype[0]" LOC="F12";
NET "dptype[1]" LOC="G12";
NET "regselect[0]" LOC="H13";
NET "regselect[1]" LOC="J14";
NET "regselect[2]" LOC="J13";
NET "regselect[3]" LOC="K14";
NET "regselect[4]" LOC="K13";
